*{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    color: #202124;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: right;
    height: 60px;
    align-items: center;
    padding: 20px;
    font-size: 13px;
}

nav a{
    margin: 0px 10px 0px 0px;
    text-decoration: none;
}

nav a:hover:not(:last-child){
    text-decoration: underline;
}

.menu-icon{
    position: relative;
    height: 15px;
    top: 3px;
    padding: 0px 20px;
    cursor: pointer;
}


.user-initial-icon {
    background-color: #455a64;
    color: #f2f2f2;
    padding: 7px 13px 7px 13px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

main{
    display: flex;
    align-content: center;
    flex-direction: column;
    height: 77.7vh;
}

.logo, #request-form, .buttons, .google-lang-site-links {
    align-self: center;

}

.logo{
    width: 280px;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
}

#request-form{
    display: flex;
    width: 584px;
    height: 50px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    margin: 0px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    
}

#request-form:hover{
    box-shadow: 1px 2px 7px 0px #e0e0e0;
}

.search-input{
    resize: none;
    border: none;
    width: 443px;
    outline: none;
    background: transparent;
    font-size: 16px;
    line-height: 22px;
}

.google-search-icon{
    width: 20px;
    position: relative;
    left: -10px;
    opacity: 50%;
}

.right-input-icon{
    position: relative;
    left: 15px;
}

.google-voice, .google-lens-icon{
    cursor: pointer;
}
.google-voice{
    position: relative;
    width: 25px;
    top: -5px;
}
.google-lens-icon{
    width: 35px;
}


.btn1, .btn2{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 3px 16px 16px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.btn1:hover, .btn2:hover{
    border: 1px solid #dfe1e5;
}
.google-lang-site-links{
    margin-top: 16px;
    font-size: 13px;   
}

.google-lang-site-links a{
    color: #1a0dab;
    text-decoration: none;
}

.google-lang-site-links a:hover, .footer2 a:hover{
    text-decoration: underline;
}



footer{
    background-color: #f2f2f2;
}

footer a{
    text-decoration: none;
}

.footer1{
    font-size: 15px;
    padding: 15px 30px;
    border-bottom: 1px solid #dfe1e5;
}

.footer2{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.footer-links1, .footer-links2, .footer2 a{
    padding: 15px;
}

